@media (max-width: 425px){
    .container {
        width: 95%;
        height: 90%;
        border-radius: 1rem;
    }
    .titulo h1 {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: cursive;
    }
    .alinha-form input {
        padding: 8px;
        width: 13rem;
        border: none;
        border-radius: 0.5rem;
        color: black;
        background-color: white;
    }
    .inputlink {
        padding: 8px;
        width: 11rem;
        border: 1px solid white;
        border-radius: 0.5rem;
        color: white;
        background-color: transparent;
        margin: 0 0.5rem 0rem 0;
    }
    .linktrocafundo a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        margin: 0;
        cursor: pointer;
        user-select: none;
        margin-top: -4rem;
        margin-right: -13rem;
    }

}


@media (max-width: 320px){
    
    .inputlink {
        padding: 8px;
        width: 9rem;
        border: 1px solid white;
        border-radius: 0.5rem;
        color: white;
        background-color: transparent;
        margin: 0 0.5rem 0rem 0;
    }
}